;; generated during development from http://www.w3.org/TR/SVG11/attindex.html
;; see dev/user.clj, function generate-attr-lookup-map
{:attribute-name :attributeName,
 :attribute-type :attributeType,
 :base-frequency :baseFrequency,
 :base-profile :baseProfile,
 :calc-mode :calcMode,
 :clip-path-units :clipPathUnits,
 :content-script-type :contentScriptType,
 :content-style-type :contentStyleType,
 :diffuse-constant :diffuseConstant,
 :edge-mode :edgeMode,
 :external-resources-required :externalResourcesRequired,
 :filter-res :filterRes,
 :filter-units :filterUnits,
 :glyph-ref :glyphRef,
 :gradient-transform :gradientTransform,
 :gradient-units :gradientUnits,
 :kernel-matrix :kernelMatrix,
 :kernel-unit-length :kernelUnitLength,
 :key-points :keyPoints,
 :key-splines :keySplines,
 :key-times :keyTimes,
 :length-adjust :lengthAdjust,
 :limiting-cone-angle :limitingConeAngle,
 :marker-height :markerHeight,
 :marker-units :markerUnits,
 :marker-width :markerWidth,
 :mask-content-units :maskContentUnits,
 :mask-units :maskUnits,
 :num-octaves :numOctaves,
 :path-length :pathLength,
 :pattern-content-units :patternContentUnits,
 :pattern-transform :patternTransform,
 :pattern-units :patternUnits,
 :points-at-x :pointsAtX,
 :points-at-y :pointsAtY,
 :points-at-z :pointsAtZ,
 :preserve-alpha :preserveAlpha,
 :preserve-aspect-ratio :preserveAspectRatio,
 :primitive-units :primitiveUnits,
 :ref-x :refX,
 :ref-y :refY,
 :repeat-count :repeatCount,
 :repeat-dur :repeatDur,
 :required-extensions :requiredExtensions,
 :required-features :requiredFeatures,
 :specular-constant :specularConstant,
 :specular-exponent :specularExponent,
 :spread-method :spreadMethod,
 :start-offset :startOffset,
 :std-deviation :stdDeviation,
 :stitch-tiles :stitchTiles,
 :surface-scale :surfaceScale,
 :system-language :systemLanguage,
 :table-values :tableValues,
 :target-x :targetX,
 :target-y :targetY,
 :text-length :textLength,
 :view-box :viewBox,
 :view-target :viewTarget,
 :x-channel-selector :xChannelSelector,
 :y-channel-selector :yChannelSelector,
 :zoom-and-pan :zoomAndPan}
